fastapi
uvicorn
pydantic
python-dotenv
requests==2.31.0
youtube-transcript-api>=0.6.1
langchain-community
langchain-core
langchain_groq
langchain-huggingface
transformers
huggingface-hub
tiktoken
faiss-cpu
langdetect
deep-translator
nltk